// Import variables.
@import 'root';

body {
    // Webpage content.
    .title {
        display: flex;
        padding: 60px 0;

        // Title.
        h1 {
            transition-duration: 0.3s;
            margin-block: 0;
            margin-inline: 0;
            margin: 20px;
            color: $link-stale;
            font-size: 170px;
        }

        // Page definer.
        #pageDefiner h2 {
            transition-duration: 0.3s;
            margin-block: 0;
            margin-inline: 0;
            margin: 20px;
            color: $master;
            font-size: 170px;
        }
    }

    // Page break styles.
    hr {
        margin: 0 30px;
        border: $font-color 1px solid;
    }
}

#FourOFour {
    #svg {
        animation: none;
    }

    // Intro section.
    .section img {
        content: url(../assets/svg/404.svg);
        display: block;
        margin: auto;
        filter: drop-shadow(0px 0px 8px black(0));
        margin-left: 50px;
        animation: float 5s infinite ease-in-out;
        width: 100%;
    }

    // Page global section styles.
    .section {
        padding: 50px 10px 5px 5px;
        border-radius: 5px;
        margin: 5px;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: 5px;

        // Text area styles.
        #text {
            padding: 10px;
            border-radius: 5px;
            margin: auto;

            // Text area title.
            #title {
                font-size: 50px;
                color: $master;
                font-weight: bold;
                text-align: center;
                padding: 0 0 20px 0;
            }

            // Text area description.
            #data {
                text-align: center;
                color: $font-color;
                font-size: 25px;

                // Intro section list.
                a {
                    transition-duration: 0.5s;
                    font-size: 50px;
                    transform-origin: center;
                    transform: scale(0.7);
                    color: $link-stale;
                    text-decoration: none;
                    display: block;

                    // Allow elements to stay on the same line.
                    div {
                        display: contents;
                    }

                    // External icon.
                    svg {
                        fill: $link-stale;
                        display: inline;
                        width: 35px;
                    }

                    // Hover animations.
                    &:hover {
                        font-weight: 900;
                        color: $link-hover;
                        transform: scale(1);

                        &::before {
                            content: '> ';
                            animation: fadeInBefore 1s ease-in-out;
                        }

                        &:after {
                            content: ' <';
                            animation: fadeInAfter 1s ease-in-out;
                        }

                        svg {
                            fill: $link-hover;
                        }
                    }

                    &:nth-child(1) {
                        margin: 10px 0 0 0;
                    }
                }

                // Logging list styles.
                p {
                    text-align: left;
                    margin-block: 0;
                    margin-inline: 0;
                    color: $link-stale;
                    margin: 20px;
                    background: black(2);
                    padding: 5px 10px;
                    width: max-content;
                    border-radius: 5px;
                    font-size: 20px;

                    // List properties.
                    i,
                    u {
                        text-shadow: 1px 1px black(0);
                    }

                    // List label.
                    b {
                        font-size: 25px;
                        color: $master;
                        padding: 5px;
                        background: black(1);
                        border: 5px solid black(2);
                        border-radius: 5px;

                        &:before {
                            content: '> ';
                        }

                        &:after {
                            content: ':';
                        }
                    }

                    // List seperator.
                    u {
                        text-decoration: none;
                    }
                }

                h3 {
                    font-weight: normal;
                    font-size: 20px;
                    text-align: left;

                    code {
                        padding: 5px;
                        margin: 5px;
                        background: black(2);
                        border-radius: 5px;
                        font-weight: bold;
                        color: #cc1400;
                        display: inline-flex;
                        vertical-align: middle;
                        text-shadow: 1px 1px black(0);

                        svg {
                            fill: #c0c0c0;
                            width: 25px;
                            padding: 0 0 0 5px;

                            &:hover {
                                fill: $link-hover;
                            }
                        }
                    }
                }
            }
        }
    }
}

#home {
    // Status text styles.
    > p {
        text-shadow: 1px 1px black(0);
        padding: 10px 30px;
        margin-inline: 0;
        margin-block: 0;

        &:after {
            content: ' ' attr(text);
        }
    }

    .online:before,
    .idle:before,
    .dnd:before,
    .streaming:before,
    .offline:before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        margin: 5px;
        vertical-align: middle;
    }

    .online:before {
        background: #43b581;
    }

    .idle:before {
        background: #faa61a;
    }

    .dnd:before {
        background: #f04747;
    }

    .streaming:before {
        background: #643da7;
    }

    .offline:before {
        background: #636b75;
    }

    // Intro section.
    #intro img {
        content: url(../assets/svg/who_is_elara.svg);
        display: block;
        margin: auto;
        filter: drop-shadow(0px 0px 8px #636b75);
        margin-left: 50px;
        animation: float 5s infinite ease-in-out;
    }

    // Logging section.
    #logging img {
        content: url(../assets/svg/logging_features.svg);
        display: block;
        margin: auto;
        filter: drop-shadow(0px 0px 8px black(0));
        margin-left: 50px;
    }

    // Setup section.
    #setup img {
        content: url(../assets/svg/how_to_setup_the_bot.svg);
        display: block;
        margin: auto;
        filter: drop-shadow(0px 0px 8px black(0));
        margin-left: 50px;
    }

    // Page global section styles.
    .section {
        padding: 50px 10px 5px 5px;
        border-radius: 5px;
        margin: 5px;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: 5px;

        // Text area styles.
        #text {
            padding: 10px;
            border-radius: 5px;
            margin: auto;

            // Text area title.
            #title {
                font-size: 50px;
                color: $master;
                font-weight: bold;
                text-align: center;
                padding: 0 0 20px 0;
            }

            // Text area description.
            #data {
                text-align: center;
                color: $font-color;
                font-size: 25px;

                // Intro section list.
                a {
                    transition-duration: 0.5s;
                    font-size: 50px;
                    transform-origin: center;
                    transform: scale(0.7);
                    color: $link-stale;
                    text-decoration: none;
                    display: block;

                    // Allow elements to stay on the same line.
                    div {
                        display: contents;
                    }

                    // External icon.
                    svg {
                        fill: $link-stale;
                        display: inline;
                        width: 35px;
                    }

                    // Hover animations.
                    &:hover {
                        font-weight: 900;
                        color: $link-hover;
                        transform: scale(1);

                        &::before {
                            content: '> ';
                            animation: fadeInBefore 1s ease-in-out;
                        }

                        &:after {
                            content: ' <';
                            animation: fadeInAfter 1s ease-in-out;
                        }

                        svg {
                            fill: $link-hover;
                        }
                    }

                    &:nth-child(1) {
                        margin: 10px 0 0 0;
                    }
                }

                // Logging list styles.
                p {
                    text-align: left;
                    margin-block: 0;
                    margin-inline: 0;
                    color: $link-stale;
                    margin: 20px;
                    background: black(2);
                    padding: 5px 10px;
                    width: max-content;
                    border-radius: 5px;
                    font-size: 20px;

                    // List properties.
                    i,
                    u {
                        text-shadow: 1px 1px black(0);
                    }

                    // List label.
                    b {
                        font-size: 25px;
                        color: $master;
                        padding: 5px;
                        background: black(1);
                        border: 5px solid black(2);
                        border-radius: 5px;

                        &:before {
                            content: '> ';
                        }

                        &:after {
                            content: ':';
                        }
                    }

                    // List seperator.
                    u {
                        text-decoration: none;
                    }
                }

                h3 {
                    font-weight: normal;
                    font-size: 20px;
                    text-align: left;

                    code {
                        padding: 5px;
                        margin: 5px;
                        background: black(2);
                        border-radius: 5px;
                        color: #ff0092;
                        display: inline-flex;
                        vertical-align: middle;
                        text-shadow: 1px 1px black(0);

                        svg {
                            fill: #c0c0c0;
                            width: 25px;
                            padding: 0 0 0 5px;

                            &:hover {
                                fill: $link-hover;
                            }
                        }
                    }
                }
            }
        }
    }

    #server {
        border-radius: 0;
        margin: 50px 0 0 0;
        padding: 50px 0 0 0 !important;
        overflow: hidden;

        &:after {
            content: '';
            background: $font-color;
            transform: skew(-30deg);
            transform-origin: bottom;
        }

        a {
            transform: scale(1) !important;
            font-size: 25px !important;
            font-weight: bold;
            margin: 0 !important;
            text-align: center !important;
            padding: 15px !important;
            background: black(1);
            border-radius: 5px;

            &:hover {
                background: black(3);
                margin: 0 !important;
                transform: scale(1) !important;

                &:before {
                    animation: none !important;
                    content: '' !important;
                }

                &:after {
                    animation: none !important;
                    content: '' !important;
                }
            }
        }
    }

    // Page banner.
    .banner {
        padding: 50px 0 5px 0;
        display: -moz-inline-grid;

        #image {
            height: 300px;
            overflow: hidden;
            background-size: cover;
            background-image: linear-gradient(#111111, transparent, #111111), url(../assets/space.png);
        }
    }
}

#commandspage {
    input {
        background: black(2);
        border: none;
        border-radius: 5px;
        font-size: 15px;
        padding: 7px;
        margin: 5px 30px;
        float: right;
        color: $link-stale;
        width: 250px;

        &::placeholder {
            color: $link-stale;
            opacity: 1;
        }

        &:focus {
            outline: none;
        }
    }

    #cmds {
        text-shadow: 1px 1px black(0);
        color: $link-stale;

        #loading {
            margin: auto;
            color: $font-color;
            text-align: center;
            padding: 100px;
            font-size: 20px;

            img {
                content: url(../assets/svg/elara.svg);
                width: 100px;
                animation: rotate 5s infinite ease-in-out;
                display: block;
                margin: auto;
            }
        }

        > h3:nth-child(1) {
            color: $font-color;
            padding: 5px;
            border-radius: 5px;
            margin-inline: 0;
            margin-block: 0;
            font-weight: normal;
            cursor: pointer;
            width: max-content;
            margin: 5px 30px;

            &:hover {
                background: black(2);
            }

            &:after {
                content: ' commands';
            }
        }

        #group {
            width: 80%;
            margin: auto;
            padding: 15px 0;

            .heading {
                border: 3px solid $master;
                text-shadow: 1px 1px black(0);
                padding: 15px;
                color: $link-stale;
                font-weight: normal;
                font-size: 25px;
                border-radius: 5px;
                text-align: center;
                cursor: default;

                &:hover {
                    background: black(2);

                    p {
                        background: black(2);
                    }
                }

                p {
                    font-size: 15px;
                    position: absolute;
                    margin-inline: 0;
                    margin-block: 0;
                    margin: -55px 0 0 -25px;
                    padding: 5px;
                    background: black(1);
                    border: 3px solid $master;
                    border-radius: 5px;
                    transition-duration: 0.5s;

                    &:after {
                        content: ' commands';
                    }
                }
            }

            div {
                > div {
                    border: 2px solid $font-color;
                    text-shadow: 1px 1px black(0);
                    width: 97%;
                    margin: 5px auto 0px auto;
                    border-radius: 5px;
                    display: flex;

                    &:hover {
                        background: black(2);
                    }

                    h1,
                    h2,
                    h3,
                    h4 {
                        margin-inline: 0;
                        margin-block: 0;
                        padding: 5px;
                        width: 200px;
                        margin: auto 10px;
                        font-size: 20px;
                        font-weight: normal;
                    }

                    h1:before {
                        content: 'e!';
                        color: $link-stale;
                    }

                    h1,
                    h2 {
                        color: #ff0092;
                    }

                    h2 {
                        width: 400px;

                        b {
                            font-weight: normal;
                            color: $link-stale;
                        }
                    }

                    h3 {
                        width: -webkit-fill-available;
                    }

                    h4 {
                        width: max-content;
                        font-weight: bold;
                        cursor: pointer;
                        transition-duration: 0.3s;
                        user-select: none;

                        &:hover {
                            color: $link-hover;
                        }
                    }

                    .turn {
                        transform: rotate(-90deg);
                    }

                    hr {
                        margin-inline: 0;
                        margin-block: 0;
                    }
                }

                .cmd-hidden {
                    display: none;
                    width: 95%;
                    margin: -1px auto;
                    border-radius: 0px 0px 5px 5px;

                    &:hover {
                        background: black(1);
                    }

                    > div {
                        display: flex !important;
                        background: black(1) !important;
                        margin-top: 0 !important;
                        width: auto;

                        &:not(:nth-child(1)) {
                            display: flex !important;

                            background: black(1) !important;
                            margin: 0px 0px 5px 2.5px !important;

                            div {
                                padding-bottom: 5px;

                                &:last-child {
                                    margin-right: 5px;
                                }
                            }
                        }

                        table {
                            width: 50%;
                            background: black(2);
                            margin: 5px 2.5px 0px 2.5px;
                            border-radius: 5px;

                            th {
                                color: $master;
                                white-space: nowrap;
                                text-align: left;
                                font-size: 15px;
                                display: block;
                                margin: 5px 10px;
                            }

                            td {
                                color: $link-stale;
                                display: initial;

                                &:last-child {
                                    text-align: right;
                                    padding-left: 10px;
                                    color: $link-hover;
                                }

                                &:first-child {
                                    text-align: left;
                                    border-right: 3px solid black(3);
                                    border-bottom: 3px solid black(3);
                                    border-radius: 5px;
                                    padding: 5px 1px 2px 5px;
                                    margin-left: 10px;
                                }
                            }

                            tr {
                                display: block;
                                margin: 10px 0;

                                &:nth-child(1) {
                                    margin: 0;
                                }
                            }

                            .check img {
                                content: url(../assets/check.png);
                                width: 15px;
                            }

                            .cross img {
                                content: url(../assets/cross.png);
                                width: 15px;
                            }
                        }
                    }

                    div {
                        border: none;
                        display: block;
                        background: black(2);
                        margin: 5px 2.5px 0px 2.5px;
                    }

                    h1 {
                        font-size: 15px;
                        color: $master;
                        margin: 8px 10px;
                        padding: 0;
                        font-weight: bold;
                        width: max-content;
                        &:before {
                            display: none;
                        }
                    }

                    h2,
                    h3 {
                        width: max-content;
                        display: flex;
                        font-size: 15px;
                        color: $link-hover;

                        p {
                            color: $link-stale;
                            font-weight: normal;
                            padding-left: 3px;
                            margin-inline: 0;
                            margin-block: 0;
                        }
                    }
                }

                .cmd-show {
                    display: block !important;
                }

                #definer {
                    h1,
                    h2,
                    h3 {
                        color: $font-color;
                    }

                    h1:before {
                        display: none;
                    }

                    h4 {
                        cursor: default;
                        &:before {
                            content: '';
                            display: inline-block;
                            width: 11px;
                            height: 12px;
                            -moz-border-radius: 7.5px;
                            -webkit-border-radius: 7.5px;
                            border-radius: 7.5px;
                            vertical-align: middle;
                            background: $link-stale;
                        }
                    }

                    &:hover {
                        background: #111111;
                    }
                }
            }

            .hide {
                display: none;
            }

            .show {
                display: block !important;
            }
        }
    }
}

#links,
#bots {
    .section {
        padding: 30px;

        div {
            width: max-content;
            display: flex;
            padding: 5px;

            &:hover {
                img:not(#arrow):not(#elara):not(#super) {
                    background: $link-hover;
                }

                p:not(:nth-child(2)) {
                    color: $link-hover;

                    svg {
                        fill: $link-hover;
                    }
                }
            }

            img {
                width: 70px;
                border-radius: 50%;
                padding: 3px;
                border: 10px $master solid;
            }

            div {
                font-size: 50px;
                margin-block: 0;
                margin-inline: 0;
                margin: auto;
                margin-left: 5px;
                color: $link-stale;
                font-weight: bold;
                display: flex;
                padding: 0 0 0 5px;
                transition-duration: 0.5s;
                cursor: pointer;

                &:nth-child(2) {
                    cursor: default;
                }

                &:hover {
                    color: $link-hover !important;

                    &:after {
                        content: ' > ' attr(about);
                        color: $master;
                        margin-left: 10px;
                        font-weight: normal;
                        animation: fadeInAfter 0.5s 1 ease-in-out;
                    }
                }

                svg {
                    transition-duration: 0.5s;
                    width: 30px;
                    margin: 0 0 0 -10px;
                    fill: $link-stale;
                }
            }

            #arrow {
                width: 70px;
                content: url(../assets/svg/links_arrow.svg);
                border-radius: 0;
                padding: 10px 15px 10px 5px;
                border: 0;
            }

            #link {
                width: 70px;
                content: url(../assets/icon/invite.png);
                background: $master;
            }

            #server {
                width: 70px;
                content: url(../assets/icon/server.png);
                background: $master;
            }

            #github {
                width: 70px;
                content: url(../assets/icon/github.png);
                background: $master;
            }

            #support {
                width: 70px;
                content: url(../assets/icon/support.png);
                background: $master;
            }

            #twitter {
                width: 70px;
                content: url(../assets/icon/twitter.png);
                background: $master;
            }

            #vote {
                width: 70px;
                content: url(../assets/icon/vote.png);
                background: $master;
            }

            #topgg {
                width: 70px;
                content: url(../assets/icon/topgg.png);
                background: $master;
            }

            #super {
                width: 70px;
                content: url(../assets/icon/SUPERCHIEFYT.gif);
                background: $master;
            }

            #blank {
                width: 85px;
            }
        }

        hr {
            margin: 0 0 0 44px !important;
            width: 6px;
            height: 20px;
            background: black(3);
            border: 0;
        }
    }
}

#bots {
    #heading {
        color: $font-color;
        font-weight: bold;
        font-size: 30px;
        padding: 15px;
        text-align: center;

        &:before {
            content: '> ';
            color: $master;
        }

        &:after {
            content: ' <';
            color: $master;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        p {
            margin-block: 0;
            margin-inline: 0;
            color: $link-stale;
            padding: 5px 0 5px 40px;

            b {
                color: $font-color;
            }
        }

        div {
            div:hover:after {
                display: none !important;
            }

            #docs {
                width: 70px;
                content: url(../assets/icon/docs.png);
                background: $master;
            }

            #patreon {
                width: 70px;
                content: url(../assets/icon/patreon.png);
                background: $master;
            }

            #www {
                width: 70px;
                content: url(../assets/icon/www.png);
                background: $master;
            }

            #couchbot {
                width: 70px;
                content: url(../assets/icon/couchbot.gif);
                background: $master;
            }

            #greenbot {
                width: 70px;
                content: url(../assets/icon/greenbot.png);
                background: $master;
            }

            #marksbot {
                width: 70px;
                content: url(../assets/icon/marksbot.png);
                background: $master;
            }

            #jonin {
                width: 70px;
                content: url(../assets/icon/jonin.png);
                background: $master;
            }
        }
    }
}

#terms,
#privacy {
    #heading {
        color: $font-color;
        font-weight: bold;
        font-size: 30px;
        padding: 15px;
        text-align: center;

        &:before {
            content: '> ';
            color: $master;
        }

        &:after {
            content: ' <';
            color: $master;
        }
    }

    .content {
        padding: 0 0 30px 0;

        h1,
        h4 {
            margin-block: 0;
            margin-inline: 0;
            color: $link-stale;
            padding: 5px 30px;
        }

        h1 {
            padding: 30px 0 0 30px;
        }

        h4 {
            font-weight: normal;
        }
    }
}

#privacy {
    #date {
        color: $font-color;
        font-weight: bold;
        font-size: 20px;
        padding: 15px;
        text-align: center;

        b {
            font-weight: normal;
            color: #ff0092;
            padding: 5px;
            border-radius: 5px;
            background: black(2);
        }
    }

    .content {
        padding: 0 0 30px 0;

        h1,
        h2,
        h3,
        h4,
        h6,
        p {
            margin-block: 0;
            margin-inline: 0;
            color: $link-stale;
            padding: 5px 30px;
        }

        h3 {
            color: $link-hover;
        }

        h1 {
            padding: 30px 0 0 30px;

            &:before {
                content: '> ';
                color: $master;
            }
        }

        h2 {
            font-size: 20px;

            &:before {
                content: '>> ';
                color: $font-color;
            }
        }

        p {
            font-size: 15px;
            font-weight: normal;
            color: #ff0092;
            padding: 5px;
            border-radius: 5px;
            background: black(2);
            margin: 10px 30px;
            width: max-content;
        }

        h4,
        h6 {
            line-height: 25px;
            p {
                display: inline-flex !important;
                padding: 1px 5px !important;
                margin: 2px !important;
                border-radius: 5px;
                background: black(2);
                width: max-content;
            }
        }

        h6 {
            padding-left: 50px;
            font-size: 15px;
            font-weight: normal;

            &:before {
                content: '• ';
                padding: 0 10px;
                font-weight: bold;
            }

            b {
                display: block;
                padding-left: 30px;
                font-weight: normal;

                &:before {
                    content: '> ';
                    padding: 0 10px;
                    font-weight: bold;
                    color: $font-color;
                }
            }
        }

        h4 {
            i {
                display: block;
                padding-left: 30px;
                font-weight: normal;
                font-style: normal;

                &:before {
                    content: '> ';
                    padding: 0 10px;
                    font-weight: bold;
                    color: $font-color;
                }
            }
        }

        a,
        a:active,
        a:focus {
            color: $link-hover;
            text-decoration: none;
        }
    }
}

#status,
#vote {
    p {
        margin-block: 0;
        margin-inline: 0;
        margin: 5px 30px;
    }

    #refreshing {
        color: $font-color;
        font-weight: bold;

        &:after {
            content: ' second(s)';
            font-weight: normal;
        }

        &:before {
            content: 'Refreshing data in ';
            font-weight: normal;
        }
    }

    .section {
        padding: 50px 10px 5px 5px;
        border-radius: 5px;
        margin: 5px;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: 5px;

        #svg img {
            content: url(../assets/svg/system_status.svg);
            display: block;
            margin: auto;
            filter: drop-shadow(0px 0px 8px black(0));
            margin-left: 50px;
            animation: float 5s infinite ease-in-out;
            width: 100%;
        }

        // Text area styles.
        #text {
            padding: 10px;
            border-radius: 5px;
            margin: auto;

            // Text area title.
            th {
                font-size: 50px;
                color: $master;
                font-weight: bold;
                text-align: center;
                padding: 10px;
                border-radius: 5px 5px 0 0;
            }

            // Text area description.
            #data {
                text-align: center;
                color: $font-color;
                font-size: 25px;

                td[online='true'] {
                    content: url(../assets/check.png);
                    width: 20px;
                }

                td[online='false'] {
                    content: url(../assets/cross.png);
                    width: 20px;
                }

                td:last-child {
                    text-align: left;
                    padding: 7px;
                    color: $link-stale;
                    font-size: 20px;
                }

                tr {
                    background: black(2);
                }

                tr:last-child {
                    td:first-child {
                        border-radius: 0 0 0 5px;
                    }

                    td:last-child {
                        border-radius: 0 0 5px 0;
                    }
                }

                table {
                    filter: drop-shadow(0px 0px 8px black(0));
                }

                td:first-child {
                    text-align: right;
                    padding: 7px;
                    color: $font-color;
                    font-size: 20px;
                }

                img {
                    content: url(../assets/star.png);
                    width: 20px;
                }
            }
        }
    }
}

#vote {
    tr {
        &:last-child {
            td {
                display: block;

                > p {
                    margin-block: 0;
                    margin-inline: 0;
                    text-align: left;

                    &:before {
                        content: '> ';
                        color: $master;
                        font-weight: bold;
                    }
                }

                #links {
                    padding: 20px 0 5px 0;
                    display: inline-flex;
                    width: 100%;
                    justify-content: center;

                    div {
                        padding: 0 5px;
                        cursor: pointer;

                        div {
                            text-align: center;
                            display: flex;

                            #topgg {
                                content: url(../assets/icon/topgg.png);
                            }

                            #dboats {
                                content: url(../assets/icon/dboats.png);
                            }

                            #discords {
                                content: url(../assets/icon/discords.png);
                            }

                            #dbl {
                                content: url(../assets/icon/dbl.png);
                            }

                            img {
                                margin: 0px 5px;
                                width: 70px !important;
                                border-radius: 50%;
                            }

                            svg {
                                position: absolute !important;
                                margin-left: -30px;
                                width: 30px;
                                background: black(2);
                                border-radius: 50% 0 50% 50%;
                            }
                        }

                        p {
                            margin-block: 0;
                            margin-inline: 0;
                            padding-top: 4px;
                            text-align: center;
                            color: $link-stale;
                        }
                        
                        &:hover {
                            p {
                                color: $link-hover;
                            }

                            svg {
                                fill: $link-hover !important;
                            }
                        }
                    }
                }

                svg {
                    margin: 0 5px 0 -5px;
                    width: 20px;
                    fill: $link-stale !important;
                }
            }
        }

        &:nth-child(2) {
            th {
                font-size: 15px !important;
                border-radius: 0 !important;
                color: $link-hover !important;
            }
        }
    }

    #svg img {
        content: url(../assets/svg/vote.svg) !important;
        margin-left: 0 !important;
        animation: none !important;
    }

    tr:not(:last-child) {
        text-align: center;
        
        td {
            display: inline-block;

            &:first-child:after {
                content: 'has';
            }

            &:last-child {
                margin-left: -8px;
                font-size: 20px;

                &:after {
                    content: 'current monthly votes';
                    margin-left: 8px;
                    color: $font-color;
                }
            }
        }
    }

    td {
        color: $font-color;
        font-size: 20px;
    }
}

// Small screen ratio.
@media (max-width: 1600px) {
    // Page title.
    .title {
        display: block !important;

        // Page definer styles.
        #pageDefiner h2 {
            font-size: 130px !important;
        }
    }
}

// Mobile view.
@media (max-width: 1100px) {
    // Page title.
    .title {
        // Page title.
        h1 {
            transition-duration: 0.3s;
            margin-block: 0;
            margin-inline: 0;
            margin: 20px;
            color: $link-stale;
            font-size: 70px !important;
        }

        // Page definer.
        #pageDefiner h2 {
            font-size: 50px !important;
        }
    }

    // 404 page.
    #FourOFour {
        // Page content.
        .section {
            display: block !important;
            padding: 10px !important;

            // Page image.
            img {
                margin: auto !important;
                width: auto !important;
            }
        }
    }

    #home {
        .section {
            display: block !important;

            a:hover {
                &:before {
                    content: '' !important;
                }

                &:after {
                    content: '' !important;
                }
            }

            #data {
                p {
                    width: auto !important;

                    &:nth-child(9) {
                        i:nth-child(2) {
                            display: none !important;
                        }

                        i:after {
                            content: ' update';
                        }
                    }

                    i {
                        display: block !important;
                        margin: 15px !important;
                        background: black(3);
                        padding: 10px;
                        border-radius: 5px;
                    }

                    u {
                        display: none !important;
                    }
                }
            }
        }

        #intro img,
        #logging img,
        #setup img {
            margin: auto !important;
        }
    }

    // Commands page.
    #commandspage {
        input {
            display: none;
        }

        // Commands mount content.
        #cmds {
            // Command groups.
            #group {
                // Command group heading.
                .heading {
                    p {
                        &:after {
                            display: none;
                        }
                    }
                }

                // Command self.
                div {
                    > div {
                        h2,
                        h4,
                        h1:before,
                        hr:nth-child(2) {
                            display: none;
                        }

                        h1,
                        h2,
                        h3,
                        h4 {
                            font-size: 12px;
                        }

                        h3 {
                            margin-left: 0 !important;
                        }
                    }

                    // Command detail spacer.
                    hr:nth-child(6) {
                        display: none;
                    }

                    #definer h1 {
                        margin: 0 6px !important;
                    }
                }
            }
        }
    }

    // Links and bots shared styles.
    #links,
    #bots {
        // Page sections.
        .section {
            padding: 5px;
            div {
                div {
                    font-size: 20px;

                    &:hover:after {
                        display: none;
                    }

                    svg {
                        width: 15px;
                    }
                }
            }
        }
    }

    // Special bots page.
    #bots {
        // Page description.
        #heading {
            &:before,
            &:after {
                display: none;
            }
        }

        // Page content.
        .content {
            grid-template-columns: 1fr;
        }
    }

    #status,
    #vote {
        .section {
            display: block;

            #svg img {
                height: max-content;
                margin-left: 0 !important;
                width: 100% !important;
            }
        }
    }

    #vote {
        tr {
            &:last-child {
                td {
                    #links {
                        display: block !important;

                        div {
                            justify-content: center;
                            padding: 5px;
                        }

                        p {
                            display: none;
                        }
                    }

                    > div:last-child {
                        display: none;
                    }

                    > p {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }

        td {
            display: inline-block;

            &:first-child:after {
                display: none;
            }

            &:last-child {
                margin-left: -5px;

                &:after {
                    content: 'votes' !important;
                }
            }
        }
    }
}

// Element floating animation.
@keyframes float {
    0% {
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }
    50% {
        -webkit-transform: translatey(-20px);
        transform: translatey(-20px);
    }
    100% {
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }
}

// Element fade in from left to right animation.
@keyframes fadeInBefore {
    0% {
        opacity: 0;
        position: relative;
        margin-right: 20px;
    }
    100% {
        opacity: 1;
        position: relative;
        margin-right: 0;
    }
}

// Element fade in from right to left animation.
@keyframes fadeInAfter {
    0% {
        opacity: 0;
        position: relative;
        margin-left: 20px;
    }
    100% {
        opacity: 1;
        position: relative;
    }
}

// Element 360 degrees rotate animation.
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
