// Import variables.
@import 'root';

// Preloader mount.
#mount {
    position: fixed;
    z-index: 100;
    background: black(0);
    width: 100vw;
    height: 100vh;

    // Preloader icon.
    #load {
        position: fixed;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        margin: 70px 20px;

        // Text.
        svg text {
            stroke: $master;
            font-size: 150px;
            font-weight: bold;
            stroke-width: 1;
            animation: borderDraw 3.5s forwards alternate;
            fill: transparent;
            font-size: 170px;
            user-select: none;
        }
    }
}

// Mobile view.
@media (max-width: 1100px) {
    #mount {
        #load {
            margin: -24px 20px !important;
            svg text {
                font-size: 70px !important;
            }
        }
    }
}

// Text animation.
@keyframes borderDraw {
    0% {
        stroke-dasharray: 0 20%;
        stroke-dashoffset: 20%;
    }

    100% {
        stroke-dasharray: 20% 0;
        stroke-dashoffstet: -20%;
    }
}
